Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["elasticbeanstalk-us-east-1-311294473869"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:asg:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "master"
files:
  "/tmp/server.crt" :
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3.amazonaws.com/elasticbeanstalk-us-east-1-311294473869/certs/unified.crt
  "/tmp/trust_chain.crt" :
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3.amazonaws.com/elasticbeanstalk-us-east-1-311294473869/certs/startssl_trust_chain.crt
  "/tmp/server.key" :
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3.amazonaws.com/elasticbeanstalk-us-east-1-311294473869/certs/keystore.pkcs12
  "/tmp/server_pem.key" :
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3.amazonaws.com/elasticbeanstalk-us-east-1-311294473869/certs/geesestore.pem
  "/tmp/dhparam.pem" :
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3.amazonaws.com/elasticbeanstalk-us-east-1-311294473869/certs/dhparam.pem

container_commands:
  move_cert:
    command: "mv /tmp/server.crt /etc/pki/tls/certs/"
  move_key:
    command: "mv /tmp/server.key /etc/pki/tls/certs/"
  move_pem_key:
    command: "mv /tmp/server_pem.key /etc/pki/tls/certs/"
  move_trust_chain:
    command: "mv /tmp/trust_chain.crt /etc/pki/tls/certs/"
  move_dh:
    command: "mv /tmp/dhparam.pem /etc/pki/tls/certs/"
